# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Django
db.sqlite3
.env                     # Environment variables
/staticfiles/            # Static files after collectstatic
/media/                  # Media uploads

# Virtual environment
env/
venv/
venv.bak/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
/build/                  # Production build files (for React)
.DS_Store                # macOS Finder metadata files

# Logs
*.log
*.log.*
logs/
*.out
*.err

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
Thumbs.db                # Windows thumbnail cache
.DS_Store                # macOS Finder metadata files
